<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="41689NickHodge.HeadsTails" Publisher="CN=B995E146-B88D-46C2-90AE-6994CA46965C" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HeadsTails</DisplayName>
    <PublisherDisplayName>Nick Hodge</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HeadsTails.App">
      <VisualElements DisplayName="HeadsTails" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="HeadsTails" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>